/*----------- Estilos Generales ----------*/

:root {
  --kanit: "Kanit", sans-serif;
  --roboto: "Roboto", sans-serif;

  --green: #6d9901;
  --sky-blue: #0b87bc;
  --black: #252829;
  --black-dark: #141516;
  --black-light: #303536;
  --gray: #424243;
  --white: #f1f3eb;

  --padding-contenedor: 2.5rem 0;
}

body {
  background-color: var(--black);
  font-family: var(--roboto);
  color: var(--white);
}

.contenedor {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: var(--padding-contenedor);
  overflow: hidden;
}

.highlight {
  font-weight: bold;
  font-size: 1.1rem;
}

.highlight__sky {
  color: var(--sky-blue);
}

.highlight__green {
  color: var(--green);
}

.imagen {
  width: 100%;
  display: block;
}

.menu {
  background-color: var(--black-dark);
  color: var(--white);
  height: 4.5rem;
}

.menu__contenedor {
  --pading--contenedor: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu__logo {
  width: 40%;
  max-width: 130px;
}

.menu__links {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-family: var(--kanit);
  font-size: 1.1rem;
  color: var(--white);
}

.menu__link:hover {
  color: var(--sky-blue);
}

.cabecera {
  background-image: url("../assets/fondo_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cabecera__contenedor {
  margin-bottom: 2rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecera_title {
  font-family: var(--kanit);
  color: var(--white);
  font-size: 2.8rem;
}

.area__title {
  margin-bottom: 4rem;
}

.area__title__text {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.area__title__picture {
  width: 6%;
}

.area__subtitle {
  margin-bottom: 1rem;
}

.area__subtitle__text {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.area__subtitle__picture {
  width: 8%;
}

/*----------- Estilos Index ----------*/

#peliculas__contenedor {
  --padding-contenedor: 0rem 0;
  width: auto;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: space-between;
  align-content: center;
  row-gap: 4rem;
}

.peliculas__card {
  width: 100%;
  height: 30.5rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--black-dark);
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
}

.peliculas__card__img {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 20rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  object-fit: cover;
  display: block;
}

.peliculas__card__title {
  font-family: var(--kanit);
  font-size: 1.1rem;
  color: var(--green);
}

.peliculas__card__subtitle {
  font-family: var(--roboto);
  font-size: 0.95rem;
}

.peliculas__card__text {
  font-family: var(--roboto);
  font-size: 0.95rem;
}

/*----------- Estilos Nosotros ----------*/

.sobre_mi__contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sobre_mi__imagen {
  width: 13.5%;
}

.sobre_mi__texto {
  padding: 1.9rem 3rem;
  background-color: var(--black-dark);
  border-radius: 1rem;
}

.sobre_mi__paragraph {
  margin-bottom: 0.5rem;
}

.proyecto__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proyecto__texto {
  width: 75%;
}

.proyecto__imagen {
  width: 19%;
}

.tecnologias__contenedor {
  margin-bottom: 3rem;
  --padding-contenedor: 0rem 0;
  display: flex;
  justify-content: space-between;
}

.card-body-tecnologia {
  padding: 1rem;
  background-color: var(--black-dark);
  font-size: 0.9rem;
  text-align: center;
  color: var(--white);
}

/*----------- Te Recomendamos ----------*/

.recomendada__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recomendada__texto {
  width: 50%;
}

.recomendada__paragraph {
  margin-bottom: 1.5rem;
}

.recomendada__premios__texto {
  width: 30%;
}
